.dm_main {
  display: flex;
  height: calc(100% - 170px);
}

.friend_info {
  width: 1457px;
  height: 100px;
  box-shadow: 0px 5px 20px 0px #ececec;
  padding-inline-start: 22px;
  display: flex;
  align-items: center;
  img {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    margin: 14px;
  }
  span {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .part {
      display: inline-flex;
      width: 64px;
      height: 24px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background: #e1fef4;
      font-size: 12px;
      font-weight: 600;
    }
    .name {
      font-size: 24px;
      font-weight: 700;
      display: flex;
      justify-content: center;
    }
  }
}
