.container {
  width: 1777px;
  height: 1080px;
  margin: 0 auto;
}

.nav_container {
  width: 1777px;
  margin-top: 5px;
  display: flex;
}

.logo {
  color: #7d08d9;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 133%;
  letter-spacing: 0.1em;
  margin-left: 20px;
  margin-right: 1150px;
}

.menu {
  padding-left: 50px;
  padding-right: 50px;
  color: #454545;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

.menu#search {
  color: #7d08d9;
}

.menu:hover {
  background-color: #f1e1fe;
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

hr {
  width: 1777px;
  height: 2px;
  background-color: #c4c4c4;
  border: 0;
}
