.container {
  width: 1777px;
  height: 1080px;
  margin: 0 auto;
}

.nav_container {
  width: 1777px;
  height: 70px;
  background-color: white;
  position: fixed;
  margin-top: -10px;
  z-index: 1002;
}

.logo {
  color: #7d08d9;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 133%;
  margin-right: auto;
  margin-left: 40px;
  letter-spacing: 0.1em;
  position: fixed;
  margin-top: 5px;
  margin-left: 20px;
  z-index: 1003;
}

.menu {
  padding-left: 50px;
  padding-right: 50px;
  color: #454545;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 1003;
  margin-top: 1%;
}

.menu#home {
  margin-left: 55%;
}
.menu#search {
  margin-left: 65%;
}
.menu#point {
  margin-left: 75%;
}
.menu#logout {
  margin-left: 85%;
}

.menu#point {
  color: #7d08d9;
}

.menu:hover {
  background-color: #f1e1fe;
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  display: flex;
}

.nav_hr {
  width: 1777px;
  height: 2px;
  background-color: #c4c4c4;
  border: 0;
  position: fixed;
  margin-top: 60px;
}

.point_container {
  display: flex;
  padding: 120px 500px;
}

.point_icon {
  margin-top: -905px;
  margin-right: 20px;
}

.info_small {
  color: var(--gray-90, #131313);
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
}

#s1 {
  margin-top: 45px;
  margin-right: 70px;
}

.view_box {
  width: 500px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 30px;
}

.view_box_text {
  width: 452px;
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: var(--gray-60, #5e5e5e);
  margin-left: -480px;
  margin-top: 47px;
}

.info_big {
  color: var(--gray-90, #131313);
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.96px;
  margin-top: 200px;
  margin-left: -650px;
}

#s2 {
  margin-top: 290px;
  margin-left: -85px;
}

.input_point {
  width: 470px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 280px;
  margin-left: 75px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding-right: 30px;
}

.input_point:focus {
  outline-color: #7d08d9;
}

#s3 {
  margin-top: 390px;
  margin-left: -645px;
}

.input_name {
  width: 480px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 380px;
  margin-left: 70px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 20px;
}

.input_name:focus {
  outline-color: #7d08d9;
}

.input_name ::placeholder {
  padding-right: 5px;
}

#point_unit {
  margin-top: 300px;
}

#s4 {
  margin-top: 490px;
  margin-left: -670px;
}

.input_account {
  width: 350px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 480px;
  margin-left: 20px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 20px;
  text-align: right;
}

.input_account:focus,
.input_idnum_b:focus,
.input_idnum_f:focus {
  outline-color: #7d08d9;
}

#input_bank {
  width: 120px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 480px;
  margin-left: 70px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 20px;
  text-align: center;
  cursor: pointer;
}

#s5 {
  margin-top: 590px;
  margin-left: -680px;
}

.input_idnum_f {
  width: 200px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 580px;
  margin-left: 25px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 20px;
  text-align: center;
}

.input_idnum_b {
  width: 200px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--gray-05, #f7f7f7);
  margin-top: 580px;
  margin-left: 20px;
  border: none;
  color: var(--gray-60, #5e5e5e);
  text-align: right;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 20px;
  text-align: center;
}

p {
  margin-top: 600px;
  margin-left: 15px;
}

#s6 {
  margin-top: 790px;
  margin-left: -630px;
}

.checkbox {
  margin-top: 795px;
  margin-left: 50px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  accent-color: #7d08d9;
}

.agree_all {
  margin-top: 790px;
  margin-left: 10px;
  color: var(--gray-90, #131313);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.agree_each_1 {
  margin-left: -160px;
  margin-top: 840px;
  color: var(--gray-90, #131313);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.agree_each_2 {
  margin-left: -255px;
  margin-top: 865px;
  color: var(--gray-90, #131313);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

#return_btn {
  margin-left: -255px;
  margin-top: 950px;
  display: flex;
  width: 500px;
  height: 80px;
  padding: 32px 210px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--purple-40, #7d08d9);
  color: var(--gray-00, #fff);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  cursor: pointer;
  border: none;
}
